

.select-person {
  /* 搜索区域 */
  .select-person-search{
    margin-bottom: 15px;

    .el-input{
      width: 240px;
      margin-right: 5px;
    }

    .el-button{
      padding: 7px 14px;
    }
  }

  /* 组织机构、群组 */
  .tab-group{
    position: relative;
    padding: 25px 15px 25px 25px;
    background-color: #F2F7FD;

    .el-tabs__item{
      font-size: 16px;
    }

    &::after{
      content: "";
      display: inline-block;
      width: 1px;
      height: 464px;
      background-color: #D2DCE9;
      position: absolute;
      bottom: 25px;
      right: 0px;
    }

    .tab-group-tree{
      height: 410px;
      padding-bottom: 15px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #F2F7FD;

      .el-tree-node{
        &:focus>.el-tree-node__content{
          background-color:#D4E5F5;
        }
      }

      .el-tree-node__content{
        &:hover{
          background-color: #D4E5F5;
        }
      }
    }
  }

  /* 待选人员 */
  .tab-table{
    padding: 25px 15px 25px 25px;
    background-color: #F2F7FD;

    &-title{
      padding: 9px;
      font-size: 16px;
      color: #212429;
      line-height: 21px;

      span{
        margin-right: 10px;
      }
    }
  }

  /* 已选人员 */
  .person-selected-table{
    padding: 25px 15px 10px 25px;
    background-color: #F2F7FD;

    /* 已选人员数量 清空 */
    .selected-table-title{
      padding: 9px;
      font-size: 16px;
      color: #212429;
      line-height: 21px;

      span{
        margin-right: 10px;
      }

      .el-button{
        float: right;
        font-size: 16px;
        position: relative;
        top: -4px;
        right: -15px;
      }
    }

    /* 已选人员 搜索 */
    .selected-table-search{
      margin-bottom: 10px;

      .el-input{
        width: calc(100% - 80px);
        margin-right: 5px;
      }

      .el-button{
        padding: 7px 14px;
      }
    }

    /* 已选人员 删除图标 */
    .selected-person-del{
      color: #F56C6C;
      font-size: 18px;
      cursor: pointer;
    }

    /* 已选人员 添加到个人群组 */
    .person-group-add{
      text-align: right;
      .el-button--text{
        color: #F2994A;
      }
    }
  }

  /* 滚动条的宽度 */
  ::-webkit-scrollbar {
    width: 4px !important;
  }
  
  /* 滚动条的滑轨背景颜色 */
  ::-webkit-scrollbar-thumb {
    background-color: #D7E0EA;
  }

  /* loading遮罩 */
  .el-loading-mask{
    background-color: rgba(242, 247, 253, 0.9);
  }

  /* 待选&已选 表格样式 */
  .el-table{
    font-size: 14px;
    background-color: #F2F7FD;

    tr{
      background-color: #F2F7FD;
    }

    th.is-leaf{
      border-bottom: 0px;
    }

    td{
      border-bottom: 0px;
    }

    .el-table__header tr th{
      color: #2B61AD;
      background-color: #F2F7FD;
    }

    /* 表格行高亮 */
    .el-table__body tr{
      &:hover{
        td{
          background-color:#D4E5F5;
        }
      }
    }
  }
}

.select-person-dialog{
  min-width: 1100px;

  .el-dialog__header{
    padding-bottom: 20px;
    border: 1px solid #F2F2F2;
  }

  .el-dialog__body{
    padding: 20px;
  }
}

.person-group-dialog{
  .person-group{
    text-align: center;

    .el-radio-group{
      text-align: left;
      overflow-x: hidden;
      overflow-y: auto;
      height: 260px;
      padding: 0 20px;
      width: 90%;

      .el-radio{
        display: block;
        margin-bottom: 10px;

        input{
          width: calc(100% - 20px)
        }
      }
    }

    /* 滚动条的宽度 */
    ::-webkit-scrollbar {
      width: 4px !important;
    }
    
    /* 滚动条的滑轨背景颜色 */
    ::-webkit-scrollbar-thumb {
      background-color: #D7E0EA;
    }
  }
}
